/* SEMANTIC HELPERS TESTS */
#semantic {
	/* unlock [100%, percentage(20px / 940px), 12] */
	@include grid-core($generate: false);
	@include grid-unlock((100%, percentage(20px / 940px), 12));

	.test-1 {
		/* without params */
		@include grid-container();

		.cell {
			@include grid-cell();
		}
	}
	
	.test-2 {
		/* $gutter: 15px */
		$gutter: 15px;
		
		& {
			@include grid-container($gutter);
		}

		.cell {
			@include grid-cell($gutter);
		}
	}
	
	.test-3 {
		/* $gutter: 2em */
		$gutter: 2em;
		
		& {
			@include grid-container($gutter);
		}

		.cell {
			@include grid-cell($gutter);
		}
	}
	
	.test-4 {
		/* $gutter: 3% */
		$gutter: 3%;
		
		& {
			@include grid-container($gutter);
		}

		.cell {
			@include grid-cell($gutter);
		}
	}
}