// Content oriented media queries //
@reading-length: 35em;

// breakpoints
@m-small-max: @reading-length;
@m-medium-min: (@reading-length + .01);
@m-medium-max: (@reading-length*2);
@m-large-min: (@reading-length*2 + .01);

// queries
@m-small: ~"(max-width: @{m-small-max})";
@m-medium: ~"(min-width: @{m-medium-min}) and (max-width: @{m-medium-max})";
@m-medium-up: ~"(min-width: @{m-medium-min})";
@m-medium-down: ~"(max-width: @{m-medium-max})";
@m-large: ~"(min-width: @{m-large-min})";

// grid
@grid-width:    940px;
@grid-type:     'fluid';
@grid-gutter:   20px;
@grid-gtype:    'fixed';
@grid-gcount:   12;

@grid-config: @grid-width, @grid-type, @grid-gutter, @grid-gtype, @grid-gcount;

.grid-core();
.grid-unlock(@grid-config);
.grid-gutter();

// dont generate grid classes since we only use layouts

// layouts //

.g-layout-1 {
	// small: 12
	// medium: 6
	// large: 4

	// no need to generate for small screen since full-width
	
	@media @m-medium {
		.grid-col-set-equal(@grid-gcount/2);
	}

	@media @m-large {
		.grid-col-set-equal(@grid-gcount/3);
	}
}

.g-layout-2 {
	// small: 12
	// medium: 12
	// large: 6

	// no need to generate for small screen since full-width
	
	@media @m-large {
		.grid-col-set-equal(@grid-gcount/2);
	}
}

.g-layout-3 {
	// small: 12
	// medium: 8 | 4
	// large: 8 | 4

	// no need to generate for small screen since full-width
	
	@media @m-medium-up {
		.grid-col-set('col-1', @grid-gcount/3*2);
		.grid-col-set('col-2', @grid-gcount/3);
	}
}

.g-layout-4 {
	// small: 12
	// medium: 6 offset 6
	// large: 4 offset 8

	// no need to generate for small screen since full-width
	
	@media @m-medium {
		.grid-col-set('col', @grid-gcount/2, @grid-gcount/2);
	}

	@media @m-large {
		.grid-col-set('col', @grid-gcount/3, @grid-gcount/3*2);
	}
}

.g-layout-nogrid {
	// small: 5 columns
	// medium: 7 columns
	// large: 9 columns
	
	@media @m-small {
		.grid-col-set('col', (@grid-gcount / 5));
	}

	@media @m-medium {
		.grid-col-set('col', (@grid-gcount / 7));
	}

	@media @m-large {
		.grid-col-set('col', (@grid-gcount / 9));
	}
}