// Content oriented media queries //
@reading-length: 40em;

@grid-max-cols: 12;

// breakpoints
@m-small-max: @reading-length;
@m-medium-min: (@reading-length + .01);
@m-medium-max: (@reading-length*2);
@m-large-min: (@reading-length*2 + .01);

// queries
@m-small: ~"(max-width: @{m-small-max})";
@m-medium: ~"(min-width: @{m-medium-min}) and (max-width: @{m-medium-max})";
@m-medium-up: ~"(min-width: @{m-medium-min})";
@m-medium-down: ~"(max-width: @{m-medium-max})";
@m-large: ~"(min-width: @{m-large-min})";

// base grid without gutter and classes
@grid-width:    940px;
@grid-type:     'fluid';
@grid-gutter:   20px;
@grid-gtype:    'fixed';
@grid-gcount:   12;

@grid-config: @grid-width, @grid-type, @grid-gutter, @grid-gtype, @grid-gcount;

.grid-core();
.grid-unlock(@grid-config);

/**
* You can use the following mixins to easily set up responsive layouts.
* For grid layouts with non-equal span sizes use incrementing col-[integer] classes and apply sizes to each of these classes:
*
* .grid-col-set(<column name>, <column width>, [column offset], [column reordering]):
* Standard mixin to set up a column in a responsive layout
*
* To set up layouts with equal width columns you only specify the width in `.col-set-equal`.
*
* .grid-col-set-equal(<column width>):
* Extended mixin to set up equal width columns and properly clear them at the same time
*
* Note: Every use of .col-set-equal() must be wrapped in a media query (even for smallest "mobile first" viewport).
* Because else the `nth-child` selectors used in ` .col-set-equal()` for proper clearing would be passed on to all
* other viewports/media queries in the layout.
*
* .grid-col-clear(<columns per line>):
* Use this to manually clear every nth+1 column if columns differ in height.
* This ensures that a grid layout can have only <columns per line> columns on one horizontal grid line.
*
**/

// layouts //

.g-layout-1 {
	// small: 12
	// medium: 6
	// large: 4

	@media @m-medium {
		.grid-col-set-equal(@grid-max-cols/2);
	}

	@media @m-large {
		.grid-col-set-equal(@grid-max-cols/3);
	}
}

.g-layout-2 {
	// small: 12
	// medium: 12
	// large: 6

	@media @m-large {
		.grid-col-set-equal(@grid-max-cols/2);
	}
}

.g-layout-3 {
	// small: 12
	// medium: 8 | 4
	// large: 8 | 4

	@media @m-medium-up {
		.grid-col-set('col-1', @grid-max-cols/3*2);
		.grid-col-set('col-2', @grid-max-cols/3);
	}
}

.g-layout-4 {
	// small: 12
	// medium: 6 offset 6
	// large: 4 offset 8

	@media @m-medium {
		.grid-col-set('col', @grid-max-cols/2, @grid-max-cols/2);
	}

	@media @m-large {
		.grid-col-set('col', @grid-max-cols/3, @grid-max-cols/3*2);
	}
}

.g-layout-nogrid {
	// small: 5 columns
	// medium: 7 columns
	// large: 9 columns
	
	@media @m-small {
		.grid-col-set('col', (@grid-max-cols / 5));
	}

	@media @m-medium {
		.grid-col-set('col', (@grid-max-cols / 7));
	}

	@media @m-large {
		.grid-col-set('col', (@grid-max-cols / 9));
	}
}