// Content oriented media queries //

@reading-length: 40em;

// breakpoints
@m-small-max: (@reading-length - .01);
@m-medium-min: @reading-length;
@m-medium-max: (@reading-length*2 - .01);
@m-large-min: (@reading-length*2);

// queries
@m-small: ~"(max-width: @{m-small-max})";
@m-medium: ~"(min-width: @{m-medium-min}) and (max-width: @{m-medium-max})";
@m-medium-up: ~"(min-width: @{m-medium-min})";
@m-medium-down: ~"(max-width: @{m-medium-max})";
@m-large: ~"(min-width: @{m-large-min})";

.grid-core();

@grid-config-s: 'fluid', 720px, 5px, 'fixed', 12;
@grid-config-m: 'fluid', 960px, 15px, 'fluid', 12;
@grid-config-l: 'fluid', 1040px, 20px, 'fixed', 12;

@media @m-small {
	.grid-unlock(@grid-config-s);
	.grid-gutter();
	.grid-generate();
}

@media @m-medium {
	.grid-unlock(@grid-config-m);
	.grid-gutter();
	.grid-generate();
}

@media @m-large {
	.grid-unlock(@grid-config-l);
	.grid-gutter();
	.grid-generate();
}

// separated media query has to unlock config again and set gutter
@media @m-medium {
	.grid-unlock(@grid-config-m);
	.grid-gutter();
	// no generate needed here
	
	.my-col {
		.grid-col-span(4.5);
	}
}